.chat__body {
	padding: 0;
}
.chat__body .header,
.chat__body .status-bar {
	padding: 0px 20px;
}
.chat-screen {
	min-height: 100vh;
	background-image: url('../img/chatBg.png');
}
.chat-screen .chat__messages {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid #f7f7f7;
	padding: 0px 10px;
	padding-top: 20px;
}
.chat__messages .chat__timestamp {
	background-color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.chat__write {
	bottom: 20px;
	position: fixed;
	width: 80%;
	background-color: #fcfcfc;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3),
		0 -12px 36px -8px rgba(0, 0, 0, 0.025);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 10px 20px;
	border-radius: 40px;
}
.chat__write i {
	font-size: 18px;
}
.chat__write :nth-child(2) {
	width: 70%;
}
.chat__write-column input {
	width: 100%;
	padding: 2px;
	border: none;
	font-size: 14px;
}
.chat__write-column input:focus {
	outline: none;
}
.message {
	width: 50%;
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}
.message .message__content {
	width: 80%;
}
.message .message__bubble {
	background-color: whitesmoke;
	padding: 5px 10px;
	border-radius: 40px;
	box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.incoming-message {
	font-size: 10px;
	align-self: flex-start;
}
.incoming-message img {
	width: 40px;
	border-radius: 20px;
	margin-right: 10px;
}
.incoming-message .message__author {
	margin-top: 8px;
	display: block;
	font-weight: 600;
	font-size: 12px;
}
.incoming-message .message__bubble {
	display: block;
	border-bottom-left-radius: 0px;
	background-image: linear-gradient(to right, #c2e59c, #64b3f4);
}
.send-message {
	font-size: 10px;
	color: #fcfcfc;
	font-weight: 600;
	align-self: flex-end;
}
.send-message .message__bubble {
	border-bottom-right-radius: 0px;
	background-image: linear-gradient(to left, #c94b4b, #4b134f);
}
