.find {
  margin-top: 30px;
}
.find .find__header-list {
  display: flex;
  justify-content: space-around;
}
.find .find__header-btn {
  width: 80px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9px;
  /* padding: 0 5px; */
}
.find .header-btn__title {
  display: block;
  margin-top: 20px;
}
.find .header-btn__icon {
  font-size: 10px;
}
.find .find__recommended {
  margin-top: 0px;
  padding-top: 15px;
  border-top: 1px solid #f7f7f7;
}
.find .find__title {
  font-size: 12px;
  opacity: 0.6;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}
