.more .more__btn-list,
.more .more_suggestions-list {
	margin: 30px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 30%;
	margin-left: 10px;
}
.more .more_suggestions-list {
	margin-left: 2px;
}
.more .more__btn,
.more .suggestion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 40px;
}
.more .suggestion {
	margin-right: 25px;
	cursor: pointer;
}
.more .more__btn-icon,
.more .more__btn-title,
.more .suggestion__icon,
.more .suggestion__title {
	display: block;
	font-size: 10px;
}
.more .more__btn-title,
.more .suggestion__title {
	margin-top: 10px;
}
.more .more_suggestions {
	font-size: 12px;
	opacity: 0.7;
	border-top: 1px solid #f7f7f7;
	padding-top: 15px;
}
.suggestion .suggestion__title {
	display: block;
	opacity: 0.6;
}
.more .suggestion__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f78707;
	width: 30px;
	height: 30px;
	border-radius: 5px;
}
.suggestion__icon i {
	color: whitesmoke;
}
